In [1]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("./DataMart_db3.sqlite3")
df = pd.read_sql_query("SELECT * from DMmigration_musician", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

Empty DataFrame
Columns: [id, first_name, last_name, instrument, singer]
Index: []

In [2]:
df.head()

Empty DataFrame
Columns: [id, first_name, last_name, instrument, singer]
Index: []

In [5]:
df['volume'] = 2 * df['volume']

In [6]:
df.head()

   id      date  price  volume
0   1  20200101    1.1     2.4

In [7]:
con = sqlite3.connect("/Users/Siddhartha_Rai/studies/audi/code/bitcoin_tracker/db.sqlite3")

# Write the new DataFrame to a new SQLite table
df.to_sql("historical_data_pricehistory", con, if_exists="replace")

con.close()